// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment-like-count{
    position: absolute;
    top: 98%;
    left: 18%;
    color: #adacac;
    font-size: 14px;
    font-weight: 550;
}

.comment-profile-pic-username{
    width: 100%;
    display: flex;
    position: relative;
}

#comment-in-show{
    display: flex;
    position: relative;
    padding-top: 16px;
}

.comment-heart {
 padding-top: none;
}

.heart-container {
    display: flex;
    align-items: center;
}

.delete-comment-button {
    border: none;
    background-color: #ffffff;

    :hover {
        cursor: pointer;
    }
}