html {
    background-color: rgb(243, 243, 243);
}

.login-box{
    border: 1px solid rgb(217, 216, 216);
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 10%;
    width: 350px;
    height: 375px;

    h5 {
        margin-bottom: 1px;
        width: 72%;
        text-align: center;
        padding-bottom: 20px;
        color: #a4a3a3;
        font-weight: 800;
    }

    .loginbutton{
        background: none;
        border: none;
        text-decoration: none;
        font-size: 14px;
        color: #33aaf8;
        font-weight: 600;
    }


    h3{
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 2rem;
    }

    .login-form {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-form input {
        background-color: rgb(243, 243, 243);
        height: 20px;
        width: 250px;
        padding: 9px 0px 7px 8px;
        border: 1px solid rgb(217, 216, 216);
    }

    .login-form input:last-of-type{
        margin-top: 5px;
    }

    .login-form button {
        width: 260px;
        height: 30px;
        border: none;
        color: white;
        font-weight: 600;
        background-color: #b2dffc;
        margin: 15px;
        border-radius: 5px;
    }

    img {
        position: absolute;
        right: 400px;
    }

    @media all and (max-width: 800px) {
        img { 
            display: none; 
        }
        .login-box{
            left: 0%;
        }
    }

    .loginimage2 {
        animation: cycle2 12s linear infinite;
        position: absolute;
        right: 394px;
        top: -103px;
        z-index: 1;
    }

    .loginimage3 {
        animation: cycle3 12s linear infinite;
        position: absolute;
        right: 390px;
        top: -103px;
        z-index: 1;
    }

    // @keyframes cycle1 {
    //     0%{opacity: 0;}
    //     8%{opacity: 1;}
    //     29%{opacity: 1;}
    //     37%{opacity: 0;}
    //     100%{opacity: 0;}
    // }

    @keyframes cycle2 {
        0%{opacity: 0;}
        29%{opacity: 0;}
        37%{opacity: 1;}
        62%{opacity: 1;}
        70%{opacity: 0;}
        100%{opacity: 0;}
    }

    @keyframes cycle3 {
        0%{opacity: 0;}
        62%{opacity: 0;}
        70%{opacity: 1;}
        96%{opacity: 1;}
        100%{opacity: .5;}
    }

}

.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 15%;

    button {
        cursor: pointer;
    }
}

.postedpix {
    width: 200px;
}


//put splash page in it's own container with these settings