.login-box{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
    margin-right: 30rem;
    padding-top: 4rem;
}

.login-box h3 {
    display: contents;
}