.show-photos {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 30px;
    width: 960px;
    padding-top: 1rem;
    // border-top: solid 1px #dedede;

    .show-photo img{
        object-fit: cover;
        width: 300px;
        height: 300px;
        -webkit-filter: brightness(100%);
    }

    .show-photo img:hover{
        -webkit-filter: brightness(70%);
        cursor: pointer;
    }
}

.show-photos-none {
    display: flex;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 30px;
    width: 960px;
    padding-top: 7rem;
    justify-content: center;
    font-size: 23px;
}

.show-header > img{
    width: 100px;
    height: 100px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #dedede;
}

.grid-icon {
    padding-top: 1rem;
}


.show-page {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-top: 75px;
}
.show-header {
    width: 613px;
    height: 233px;
    margin: none;
    position: relative;
    display: flex;
    justify-content: flex-end;

    .show-profile-pic{
        position: absolute;
        top: 10px;
        right: 551px;
        width: 150px;
        height: 150px;
    }

    .show-info-container{
        height: 233px;
        width: 320px;
        padding-right: 9rem;

        ul li{
            font-size: 17px;
            font-weight: 400;
        }

        .show-name {
            display: flex;
            // flex-direction: row;
            // justify-content: center;
            width: 100%;
            height: 48px;
            padding-top: 20px;

            

            li:first-of-type{
                font-size: 25px;
                font-weight: 300;
            }
        }

        .show-following{
            display: flex;
            justify-content: space-between;

            span {
                font-weight: 300;
                font-size: 23px;
            }
        }
    }
}
.following-icon {
    width: 30px;
}

.header {
    width:min(100%);
    height: min(100%);
}

.caption-body {
    font-size: 12px;
    padding-left: 10px;
    font-weight: 400;
}

.main-div {
    height: 100vh;
    background-color: #fafafa;
}

.profile-page-show {
    height: 100%;
}